@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: rgb(224, 221, 11);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

body {
    overflow-x: hidden;
    background-color: #081b27;
    a {
        display: block;
        text-decoration: none;
    }

    input,
    button,
    select {
        outline: none;
    }

    div[data-tippy-root] {
    }

    :root {
        --width-input: 140px;
        --width-input-sidebar: 100px;
    }
}

.flex-between {
    @apply flex items-center justify-between;
}
.flex-center {
    @apply flex items-center justify-center;
}

.header {
    @apply sticky top-0 left-0 right-0;
}

.navbar-menu {
    @apply flex-1 max-w-[160px] md:max-w-full bg-headerBg md:flex items-center justify-center absolute md:static
    left-0 top-full p-5 md:p-0 shadow-md md:shadow-none rounded-md animate-slideIn md:animate-none;

    ul.navbar-list {
        @apply flex space-y-5 md:space-y-0 md:space-x-6 flex-col md:flex-row;
    }
}
.navbar-link {
    @apply h-full text-white text-base md:text-xl font-bold hover:text-red-500;
}

.navbar-link-active {
    @apply text-red-500;
}

// Slider
.slick-slider {
    position: relative;

    button.slick-next,
    button.slick-prev {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
    }
    button.slick-next {
        right: -25px;

        &::before {
            color: #333;
            content: '>';
            font-size: 20px;
        }
    }
    button.slick-prev {
        z-index: 1;
        left: -25px;
        &::before {
            content: '<';
            color: #333;
            font-size: 20px;
        }
    }
}

ul.slick-dots {
    display: flex;

    li {
        width: 24px;
        height: 8px;
        border-radius: 10px;
        background-image: linear-gradient(to right, #ee9ca7, #ffdde1);
        // background-color: #fff;
        transition: all linear 0.4s;

        button {
            &::before {
                color: transparent;
            }
        }
    }

    li.slick-active {
        width: 36px;
        background-image: linear-gradient(to right, #654ea3, #eaafc8);

        button {
            &::before {
                color: transparent;
            }
        }
    }
}

// Loading
.loading {
    @apply mx-auto top-8 relative w-14 h-14 rounded-full border-4 border-red-400 border-l-transparent after:content-[''] animate-rotate-360 after:animate-rotate-720  after:absolute after:rounded-full after:border-[3px] after:top-3 after:left-3
     after:right-3 after:bottom-3 after:border-green-500 after:border-b-transparent;
}

//
.btn-trailer {
    @apply h-11 w-20 bg-[#3898ec] text-center leading-10 rounded-md text-white;
}

.btn-play-movie {
    @apply h-11 w-28 bg-red-400 ml-4 text-center leading-10 rounded-md text-white;
}

//
.test:hover .icon-play {
    display: block;
}

// Paging
.disable-page {
    border-color: transparent;
    cursor: default;

    svg {
        color: #385b7e;
    }
}

// TABLE

table > tbody > tr {
    td {
        @apply text-center;
    }
    td {
        &:first-child {
            @apply text-center;
        }
    }
}

.movie-item {
    &:nth-child(2n + 1) {
        background-color: rgb(96, 185, 36);
    }
}

.movie-item {
    &:nth-child(2n) {
        background-color: #9400d3;
    }
}

span.lazy-load-image-background  {
    display: block !important;
}
