@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: rgb(224, 221, 11);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

body {
    overflow-x: hidden;
    background-color: #081b27;
    a {
        display: block;
        text-decoration: none;
    }

    input,
    button {
        outline: none;
    }

    div[data-tippy-root] {
    }

    :root {
        --width-input: 140px;
        --width-input-sidebar: 100px;
    }
}

.flex-between {
    @apply flex items-center justify-between;
}
.flex-center {
    @apply flex items-center justify-center;
}

.header {
    @apply sticky top-0 left-0 right-0;
}

.navbar-menu {
    @apply flex-1 max-w-[160px] md:max-w-full bg-headerBg md:flex items-center justify-center absolute md:static 
    left-0 top-full p-5 md:p-0 shadow-md md:shadow-none rounded-md animate-slideIn md:animate-none;

    ul.navbar-list {
        @apply flex space-y-5 md:space-y-0 md:space-x-5 flex-col md:flex-row;

        .navbar-link {
            @apply h-full text-white text-base md:text-xl font-bold hover:text-red-500;
        }
    }
}

// Slider
.slick-slider {
    position: relative;

    button.slick-next,
    button.slick-prev {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
    }
    button.slick-next {
        right: -15px;

        &::before {
            color: #333;
            content: '>';
            font-size: 20px;
        }
    }
    button.slick-prev {
        z-index: 1;
        left: -15px;
        &::before {
            content: '<';
            color: #333;
            font-size: 20px;
        }
    }
}

ul.slick-dots {
    display: flex;

    li {
        width: 24px;
        height: 8px;
        border-radius: 10px;
        background-image: linear-gradient(to right, #ee9ca7, #ffdde1);
        transition: all linear 0.4s;

        button {
            &::before {
                color: transparent;
            }
        }
    }

    li.slick-active {
        width: 32px;
        background-image: linear-gradient(to right, #654ea3, #eaafc8);

        button {
            &::before {
                color: transparent;
            }
        }
    }
}
