@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: rgb(224, 221, 11);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

body {
    overflow-x: hidden;
    background-color: #081b27;
    a {
        display: block;
        text-decoration: none;
    }

    input,
    button {
        outline: none;
    }

    div[data-tippy-root] {
        width: 100%;
        inset: 0 !important;
        transform: translate3d(0, 50px, 0) !important;
    }

    :root {
        --width-input: 140px;
        --width-input-sidebar: 100px;
    }
}

.flex-between {
    @apply flex items-center justify-between;
}
.flex-center {
    @apply flex items-center justify-center;
}

.header {
    @apply sticky top-0 left-0 right-0;
}

.navbar-link {
    @apply text-white text-xl font-bold;
}
